body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: #f0f0f0;
}
img {
    max-width: 300px;
    height: auto;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 300px;
    padding: 16px;
    background-color: #f1f1f1;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 4px;
}
.login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.login-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
h1{
    text-align: center;
}

.centered-table {
    margin-left: center;
    margin-right: center;
}